@page "/AddNewData"
@inject Context context
@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="row-addmewData-header">
        <a href="EmptyData" class="text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M20 26.56L11.3066 17.8667C10.28 16.84 10.28 15.16 11.3066 14.1333L20 5.44" stroke="#009DE0" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="text-black fs-6"> Back to Project “Testing”</span>
        </a>
        <div>
            <button class="btn-circle me-2 px-3 py-1 text-blue text-decoration-none" @onclick="HandleDiscardChangesBtn">
                Discard Changes
            </button>
            <button class="background-blue btn-circle px-3 py-1 text-white text-decoration-none" @onclick="HandleBtnSaveAndAddStructures">
                Save and Add Functions
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 navigation-menu-addnew-data ms-4">
            <div class="mt-4">
                <button class="btn-addnewdata" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="@(()=>selected_structure_to_insert=null)">
                    <span class="text-white">Add New</span>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path d="M5.25 10.5H15.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.5 15.75V5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </button>
                @foreach (var structure in ChoosenStructures)
                {
                    <div class="btn-function-addnewdata-menue" @onclick="()=>HandleShownStructureClickedInScreen(structure.Id)">
                        <span>@structure.Name</span>
                        <button class="btn-icon" @onclick="@(()=>DeleteItemAsync(structure))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M18.4364 4.57625C17.0277 4.43625 15.6189 4.33125 14.2014 4.2525V4.24375L14.0089 3.10625C13.8777 2.30125 13.6852 1.09375 11.6377 1.09375H9.3452C7.30645 1.09375 7.11395 2.24875 6.97395 3.0975L6.7902 4.2175C5.97645 4.27 5.1627 4.3225 4.34895 4.40125L2.56395 4.57625C2.19645 4.61125 1.93395 4.935 1.96895 5.29375C2.00395 5.6525 2.31895 5.915 2.68645 5.88L4.47145 5.705C9.05645 5.25 13.6764 5.425 18.3139 5.88875C18.3402 5.88875 18.3577 5.88875 18.3839 5.88875C18.7164 5.88875 19.0052 5.635 19.0402 5.29375C19.0664 4.935 18.8039 4.61125 18.4364 4.57625Z" fill="#E4433D" />
                                <path d="M16.8258 7.1225C16.6158 6.90375 16.327 6.78125 16.0295 6.78125H4.96954C4.67204 6.78125 4.37454 6.90375 4.17329 7.1225C3.97204 7.34125 3.85829 7.63875 3.87579 7.945L4.41829 16.9225C4.51454 18.2525 4.63704 19.915 7.69079 19.915H13.3083C16.362 19.915 16.4845 18.2613 16.5808 16.9225L17.1233 7.95375C17.1408 7.63875 17.027 7.34125 16.8258 7.1225ZM11.952 15.5313H9.03829C8.67954 15.5313 8.38204 15.2338 8.38204 14.875C8.38204 14.5163 8.67954 14.2188 9.03829 14.2188H11.952C12.3108 14.2188 12.6083 14.5163 12.6083 14.875C12.6083 15.2338 12.3108 15.5313 11.952 15.5313ZM12.687 12.0313H8.31204C7.95329 12.0313 7.65579 11.7338 7.65579 11.375C7.65579 11.0163 7.95329 10.7188 8.31204 10.7188H12.687C13.0458 10.7188 13.3433 11.0163 13.3433 11.375C13.3433 11.7338 13.0458 12.0313 12.687 12.0313Z" fill="#E4433D" />
                            </svg>
                        </button>
                    </div>
                }
            </div>
            <div class="mt-3">
                <button class="btn-delete-all mb-4" @onclick="DeleteAllFunctionsAsync">
                    <span class="text-danger">Delete All</span>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path d="M18.4364 4.57625C17.0277 4.43625 15.6189 4.33125 14.2014 4.2525V4.24375L14.0089 3.10625C13.8777 2.30125 13.6852 1.09375 11.6377 1.09375H9.3452C7.30645 1.09375 7.11395 2.24875 6.97395 3.0975L6.7902 4.2175C5.97645 4.27 5.1627 4.3225 4.34895 4.40125L2.56395 4.57625C2.19645 4.61125 1.93395 4.935 1.96895 5.29375C2.00395 5.6525 2.31895 5.915 2.68645 5.88L4.47145 5.705C9.05645 5.25 13.6764 5.425 18.3139 5.88875C18.3402 5.88875 18.3577 5.88875 18.3839 5.88875C18.7164 5.88875 19.0052 5.635 19.0402 5.29375C19.0664 4.935 18.8039 4.61125 18.4364 4.57625Z" fill="#E4433D" />
                            <path d="M16.8258 7.1225C16.6158 6.90375 16.327 6.78125 16.0295 6.78125H4.96954C4.67204 6.78125 4.37454 6.90375 4.17329 7.1225C3.97204 7.34125 3.85829 7.63875 3.87579 7.945L4.41829 16.9225C4.51454 18.2525 4.63704 19.915 7.69079 19.915H13.3083C16.362 19.915 16.4845 18.2613 16.5808 16.9225L17.1233 7.95375C17.1408 7.63875 17.027 7.34125 16.8258 7.1225ZM11.952 15.5313H9.03829C8.67954 15.5313 8.38204 15.2338 8.38204 14.875C8.38204 14.5163 8.67954 14.2188 9.03829 14.2188H11.952C12.3108 14.2188 12.6083 14.5163 12.6083 14.875C12.6083 15.2338 12.3108 15.5313 11.952 15.5313ZM12.687 12.0313H8.31204C7.95329 12.0313 7.65579 11.7338 7.65579 11.375C7.65579 11.0163 7.95329 10.7188 8.31204 10.7188H12.687C13.0458 10.7188 13.3433 11.0163 13.3433 11.375C13.3433 11.7338 13.0458 12.0313 12.687 12.0313Z" fill="#E4433D" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="col row mt-2 AddingDataBody me-4">
            @if (shownStructureInScreenID != 0)
            {
                <div>
                    <h6>A. Descriptive language, abstraction level 0: pure natural language</h6>
                    <input type="text" class="descriptivelanguage-input form-control" placeholder="Click here to add text"
                       @bind=@(ChoosenStructures.FirstOrDefault(s=>s.Id==shownStructureInScreenID).DescriptivePureLanguage) />
                </div>
                <div class="mt-3">
                    <h6>B. Descriptive language, abstraction level 1: hybrid</h6>
                    <input type="text" class="descriptivelanguage-input form-control" placeholder="Click here to add text"
                       @bind=@ChoosenStructures.FirstOrDefault(s=>s.Id==shownStructureInScreenID).DescriptiveHybridLanguage />
                </div>
                <div class="my-3">
                    <h6>C. Descriptive language, abstraction level 2: mathematical language</h6>
                    <input type="text" class="descriptivelanguage-input form-control" placeholder="Click here to add text"
                       @bind=@ChoosenStructures.FirstOrDefault(s=>s.Id==shownStructureInScreenID).DescriptiveMathematicalLanguage />
                </div>
                <hr />
                <div class="fs-6 fw-bold">
                    <span class="text-danger">@@ChoosenStructures.Where(s=>s.Id==shownStructureInScreenID).FirstOrDefault().StructureType.ToString()</span>
                    @(@ChoosenStructures.FirstOrDefault(s => s.Id == shownStructureInScreenID).Name + " : ")
                    <br />
                    <pre>
                        @ChoosenStructures.FirstOrDefault(s=>s.Id==shownStructureInScreenID).Description
                                                    </pre>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title" id="staticBackdropLabel">@_documentaionType.GetDisplayName()</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <rect width="32" height="32" rx="16" fill="#E2E2E2" />
                        <path d="M21.4 11.8001L11.8 21.4C11.472 21.728 10.928 21.728 10.6 21.4C10.272 21.072 10.272 20.528 10.6 20.2L20.2 10.6001C20.528 10.2721 21.072 10.2721 21.4 10.6001C21.728 10.9281 21.728 11.4721 21.4 11.8001Z" fill="#4F4F4F" />
                        <path d="M21.4 21.4C21.072 21.728 20.528 21.728 20.2 21.4L10.6 11.8C10.272 11.472 10.272 10.928 10.6 10.6C10.928 10.272 11.472 10.272 11.8 10.6L21.4 20.2C21.728 20.528 21.728 21.072 21.4 21.4Z" fill="#4F4F4F" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item col">
                        <a class="nav-link active text-center" role="tab" data-bs-toggle="pill" aria-selected="true" @onclick="@(()=>HandleTabListChange(0))">@TabList[0]</a>
                    </li>
                    @for (int i = 1; i < TabList.Count(); i++)
                    {
                        <li class="nav-item col">
                            <a class="nav-link text-center" data-bs-toggle="pill" role="tab" aria-selected="false" @onclick="@(()=>HandleTabListChange(i-1))">@TabList[i]</a>
                        </li>
                    }
                </ul>

                <div class=@(Count_of_panels>4?"mt-3 d-flex overflow-x-auto pe-2":"mt-3 d-flex overflow-x-auto justify-content-evenly")>
                    @foreach (var item in Panels)
                    {
                        <div class=" function-card-list crad" style="width:@((100/Count_of_panels)-1)%;@(Count_of_panels>4?"margin-left:0.75rem":"margin-left:0")">
                            <h5 class="card-title">@item.GetDisplayName()</h5>
                            <div class="card-body">
                                @foreach (var fun in StructureInPanels.Where(f => f.StructureType == item))
                                {
                                    <button class="btn-choose-function text-break" @onclick="@(()=>selected_structure_to_insert=fun)">
                                        <span class="function-choose-title">@fun.Name</span>
                                        <div class="function-choose-file text-blue">
                                            @fun.sourceFile.ToString()
                                        </div>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="function-body m-2 overflow-auto p-4">
                    @if (selected_structure_to_insert != null)
                    {
                        <div class="d-flex justify-content-between">
                            <h5>
                                @selected_structure_to_insert.StructureType.ToString() @selected_structure_to_insert.Name
                            </h5>
                            <button class="background-blue btn-circle px-3 text-white py-1" @onclick="@(()=>HandleInsertStructure())">Insert</button>
                        </div>
                        <hr />
                        <div class="text-break">
                            <pre>
                                @foreach (var str in selected_structure_to_insert.Description.Split('\n'))
                                {
                                    @str
                                <br />
                                }
                                        </pre>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
